
.chart {
  position: relative;
  &__text {
    margin-top: 30px;
    .fa-mouse-pointer {
      display: inline-block;
      color:  rgba(33, 147, 253, 0.801);
      // background-color: rgba(33, 147, 253, 0.801);
      padding: 8px;
    }
  }
  &__value {
    color: rgb(77, 76, 76);
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__days {
    position: absolute;
    right: -40px;
    bottom: 10px;
    color: rgb(77, 76, 76);
    font-size: 15px;
  }
}
.recordBtn--measure:hover {
  background-color: rgb(176, 219, 255);
  &::after {
    border-top-color: rgb(176, 219, 255);
  }
}