.foodWrapper {
  width: 100%;
  padding: 50px 0;
  .foodWrapper-inner {
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 60px 70px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4); 
    .title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .foodForm {
      .formTitle {
        font-size: 20px;
        color: rgb(90, 90, 90);
        margin-bottom: 20px;
        i {
          color: rgb(255, 174, 119);
        }
        // margin: 20px 0;
      }

      &__img {
        margin: 20px 40px;
        .imgBox {
          width: 90px;
          padding: 30px;
          border: 1px solid gray;
          background-color: rgba(255, 208, 176, 0.705);
          text-align: center;
          // margin: auto;
          // line-height: 100px;
          i {
            font-size: 40px;
          }
        }
        input {
        display: none;
        } 
      }
      .foodName {
        margin: 20px 40px;
        width: 40%;
      }
      .cp_iptxt {
        position: relative;
        margin: 40px 0;
      }
      .cp_iptxt input[type='text'] {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        letter-spacing: 1px;
        padding-left: 4em;
      }
      .cp_iptxt input[type='text']:focus {
        outline: none;
      }
      .ef {
        padding: 4px 0;
        border: 0;
        border-bottom: 1px solid #1b2538;
        background-color: transparent;
      }
      .ef ~ .focus_line {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        transition: 0.4s;
        background-color: rgb(255, 102, 0);
      }
      .ef ~ .focus_line {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        transition: 0.4s;
        background-color: rgb(255, 102, 0);
      }
      .ef:focus ~ .focus_line,
      .cp_iptxt.ef ~ .focus_line {
        left: 0;
        width: 100%;
        transition: 0.4s;
      }
      .ef ~ label {
        position: absolute;
        z-index: -1;
        top: 4px;
        left: 0;
        width: 100%;
        transition: 0.3s;
        letter-spacing: 0.5px;
        color: #aaaaaa;
      }
      .ef:focus ~ label, .cp_iptxt.ef ~ label {
        font-size: 12px;
        top: -16px;
        transition: 0.3s;
        color: rgb(255, 102, 0);
      }
      .foodTime {
        margin: 20px 40px;
        &__select {
          // height: 40px;
          // width: 30px;
          font-size: 20px;
          background-color: rgba(255, 208, 176, 0.705);
          margin-bottom: 30px;
          &:focus {
            border: 2px solid rgba(255, 102, 0, 0.527);
            outline: 0;
          }
        }
        &__text {
          font-size: 15px;
          color: gray;
        }
      }
      #food_start_time_1i, #food_start_time_2i {
        display: none;
      }
      .foodContents {
        display: flex;
      }
      .foodSubmit {
        height: 70px;
        width: 200px;
        background-color: rgb(255, 156, 89);
        border: none;
        color: white;
        border-radius: 3px;
        font-size: 20px;
      }
    }
  }
}