.recordBtn--exe:hover {
  background-color: rgb(255, 215, 245);
  &::after {
    border-top-color: rgb(255, 215, 245);
  }
}
.exe_img {
  padding-left: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
}
.exe_menu {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  text-decoration: none;
  color: #333;
}
.content-exp {
display: flex;
margin-top: 15px;
  .exp_text {
    color: #333;
  }
  .exp_img {
    margin: 0 5px 0 10px;
  }
}
.day {
  position: relative;
}
