.newWrapper
  .newWrapper-inner.newWrapper-inner--mea
    = form_with(model: @measure, local: true, class: "foodForm") do |f|
      .cp_iptxt
        = f.text_field :measure, placeholder: "血糖値を入力してください", class: "ef"
        %span.focus_line
      .text mg/dl
      = f.submit value: "記録する", class: "foodSubmit"
